# First Python Code

In [1]:
print('Hello World')

Hello World

In [2]:
students_count = 1000
print(students_count)
print(id(students_count))

1000
2349435960112

In [ ]:
students_count = students_count + 4
print(students_count)

In [ ]:
students_count = "Python Programming"
print(students_count)
print(id(students_count))

In [ ]:
print('I'm Jian Zhang')

In [ ]:
print("I'm Jian Zhang")

In [ ]:
print('''I'm 
Jian Zhang
'''
)

# Line by line

In [ ]:
print('o----')
print(' ||||')
print(5 * 10)
print('*' * 10)

# Variable

In [ ]:
price = 10

In [ ]:
print(price)

price = 20

print(id(price))

price = price + 2

print(id(price))

In [ ]:
rating = 4.9

In [ ]:
name = 'Jack'

In [ ]:
is_true = True

In [ ]:
print(type(rating))

print(type(is_true))

print(type(name))

In [ ]:
students_count = 1000
rating = 4.99
is_published = False
course_name = "Python Programming"
print(type(students_count))
print(type(rating))
print(type(is_published))
print(type(course_name))
print(id(rating))
print(id(students_count ))

# Patient Example: Name, age

In [ ]:
name = input('What is your name? ')
print('Hi ' + name)

In [ ]:
name = input('What is your name? ')
age = input('What is your age? ')
print(name + ' is ' + age + ' years old.')

In [ ]:
price = 1_000_000

In [ ]:
print(price)

In [ ]:
print(type(price))

# Formatted String

In [ ]:
first_name = "Jian"
last_name = "Zhang"
full_name = first_name + " " + last_name
print(full_name)
full_name_formated = f"{first_name} {last_name}"
print(full_name_formated)

# Escape Character

In [ ]:
course_full_name = "Python Programing with \"Mosh\""
print(course_full_name)
course_full_name = "Python Programing with \'Mosh\'"
print(course_full_name)
course_full_name = "Python Programing with \\Mosh\\"
print(course_full_name)
course_full_name = "Python Programing with \nMosh"
print(course_full_name)

# String Methods

In [ ]:
course_name_python = "  python programming for beginners    "
print(course_name_python.upper())
print(course_name_python.lower())
print(course_name_python.title())
print(course_name_python.find("gram"))
print(course_name_python.replace("p", "P"))
print("pro" in course_name_python)
print("abc" in course_name_python)

# Numbers

In [ ]:
x = 3
y = 3.1
z = 3 + 2j  
print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3)
print(10 // 3)
print(10 % 3)
print(10 ** 3)
x = x + 3
print(x)
y += 3
print(y)
print(z)

In [ ]:
print(type(z))

In [ ]:
# Working with Numbers

In [ ]:

import math
print(round(2.9595, 2))  # Function to round numbers
print(abs(-5.4))  # Converts a number to absolute
print(math.ceil(8.2))  # Math function to retunr the ceil of a float number
print(math.floor(4.9))

average = 2.9
print(f"{average:.2f}")

# Type Conversion

In [ ]:
# 09 Type Conversion
x = input("x: ")  # Even if the input is a number it will be read as a string
print(type(x))

y = int(x) + 5
print(f"x: {x} ; y: {y}")

# type converters
# int() converts to an interger

# float() converts to float

# bool() converts to boolean
# Falsy values - values that retunr False
print(bool(""))  # Double quotations returns False
print(bool(0))  # 0 returns False
print(bool(None))
# Other values return True
print(bool(2))
# str() converts to string

# Quiz

In [ ]:
# 10 Quiz

# What are the primitive type in python?
# Strings
# Interger number
# Float numbers
# Booleans - True and False

# What will we see in the terminal
fruit = "Apple"
print(fruit[1])
# p

# What will we see in the terminal?
fruit = "Apple"
# when slicing a string the last caracter called is not inclued
print(fruit[1:-1])
# ppl

# Waht is the result?
print(10 % 3)
# 1

# Whats the result?
print(bool("False"))
# True

# Comparison operators

In [ ]:
# 01 Comparison operators

# Use comparison operator to compare values
# < strictly less than
# <= less than or equal
# > strictly greater than
# >= greater than or equal
# == equal
# != not equal
# is object identity
# is not negated object identity

In [ ]:
print(3>2)

In [ ]:
print(3<2)

# Conditional Statements

In [ ]:
# 02 Conditional Statements

temperature = 25
if temperature > 30:
    print("It's warm")
    print("Drink water")
elif temperature > 20:
    print("It's nice")
else:
    print("It's cold")
print("Done")

# Ternary Operator

In [ ]:
age1 = 17
if age1 >= 18:
    print("Eligible")
else:
    print("Not eligible")

# Theres is a different cleaner way to write the same code, and achive the same result.
age2 = 20
message = "Eligible" if age2 >= 18 else "Not eligible"
print(message)

# Logical Operators

In [ ]:
# 04 Logical Operators
# and
# or
# not

income = 2000
good_credit = True

if income > 2500:
    high_income = True
    print("You have a high income!")
else:
    high_income = False
    print("You have a low income")

if high_income and good_credit:
    print("Eligible for loan")
else:
    print("Not eligible for loan")

income = 2000
good_credit = True

if income > 2500:
    high_income = True
    print("You have a high income!")
else:
    high_income = False
    print("You have a low income")

if high_income or good_credit:
    print("Eligible for loan")
else:
    print("Not eligible for loan")

In [ ]:
income = 2000
good_credit = True
student = False

if income > 2500:
    high_income = True
    print("You have a high income!")
else:
    high_income = False
    print("You have a low income")

if not student:
    print("Eligible for loan")
else:
    print("Not eligible for loan")


income = 5000
good_credit = True
student = True

if income > 2500:
    high_income = True
    print("You have a high income!")
else:
    high_income = False
    print("You have a low income")

if (high_income or good_credit) and not student:
    print("Eligible for loan")
else:
    print("Not eligible for loan")

# Chaining Comparison Operators

In [ ]:
# age should be between 18 and 65

age = 22

if age >= 18 and age < 65:
    print("Eligible")

if 18 <= age < 65:
    print("Eligible")

# Line 7 and line 10 are the exact same code

# For Loops

In [ ]:
# 08 For Loops

# They are used to reapet a task
# In this example we are trying to send a message to a use at least 3 time

for number in range(3):  # the range goes from 0, 1, 2
    print("Attempt", number + 1, (number + 1) * ".")

for number in range(1, 4):  # range goes from 1, 2, 3
    print("Attempt", number, number * ".")

for number in range(1, 10, 2):  # range goes from 1, 3, 5, 7, 9
    print("Attempt", number, number * ".")

# For..Else

In [ ]:
# Lesson how to break a for loop

successful = False
for number in range(3):
    print("Attempt")
    if successful:
        print("Successful")
        break
else:
    print("Attempted 3 times and failed")

# Iterables

In [ ]:
# 11 Iterables

for x in "Python":
    print(x)

for x in [1, 2, 3, 4]:
    print(x)

# Nested Loops

In [ ]:
# 10 Nested Loops
# Loops inside other loops

for x in range(2):
    for y in range(3):
        print(f"({x},{y})")

# While Loops

In [ ]:
# 12 While Loops

number = 100
while number > 0:
    print(number)
    number = number // 2

command = ""
while command.lower() != "quit":
    command = input(">")
    print("Echo", command)

# Infinite Loops

In [ ]:
# 13 Infinite Loops

while True:
    command = input(">")
    print("Echo", command)
    if command.lower() == "quit":
        break

In [ ]:
# 11 Exercise

# Display the even number ( 2 4 6 8) followed by this message "We have 4 even numbers"
# 2
# 4
# 6
# 8
# We have 4 even numbers

# My anwser
for number_even in range(1, 10):
    if number_even % 2 == 0:
        print(number_even)
    elif number_even > 8:
        print("We have 4 even numbers")
        break

# Mosh anwser
count = 0
for number in range(1, 10):
    if number % 2 == 0:
        count = count + 1
        print(number)
print(f"we have {count} even number")


# In my anwser I did not count the numbers

In [ ]:
for
    for